<html>
<body>
<font face="calibri"  color='blue'>
<div  style="margin-left: 20px">
Dear ${firstname} ${lastname},<br>
Your new password is: ${password}<br>
</div>
<br>
<div style="margin-left: 20px"><font color="red" >- SNS Support Team</font></div>
</font>
</body>
</html>